body {
    font-family: monospace;

}


.header {
    color: cornflowerblue;
    padding: 15px;
    text-align: center;
}
#parent-uploads {
    display: table;
    width: 100%;
    padding-bottom: 15px;

 }
 #uploads {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

 input[type=file] {
    display: inline;
}

#parent-tables {
    display: table;
    width: 100%;
 }

td {
    word-break: break-word;
}

@media only screen and (max-width: 500px) {
    body{
        font-size: 10px;
    }
    .table>tbody>tr>td{
        padding: 3px;
    }
    .btn{
        padding: 7px, 1px 7px 1px;
        font-size: 10px;
    }
}
@media only screen and (min-width: 500px) {
    body{
        font-size: 15px;
    }
    #parent-tables {
        padding: 15px;
    
     }
     .table>tbody>tr>td{
        padding: 10px 5px 10px 5px;
    }
}