{% extends "layout.html" %}
{% block body %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <script>
              alert("{{ message }}")
            </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="header">
      <h1>Files management</h1>
    </div>
      
    <div id="parent-uploads">
      <form id=uploads method=post enctype=multipart/form-data>
          <input type=file name=file id=file>
          <input class="btn btn-primary" type=submit value=Upload id=upload>
      </form>
    </div>


    <div id="parent-tables">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Size</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        {% for item in filelist %}
          <tr>
            <td>{{ item[0] }}</th>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }} KB</td>
            <td>
                <form method="post" action="/delete" onsubmit="return confirm('Do you really want to delete this item?');" >
                  <input name="filename" type="hidden" value="{{ item[1] }}">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </td>
            <td>
                <form method="get" action="/retrieve/{{ item[1] }}" target="_blank">
                  <input class="btn btn-info" type="submit" value="Retrieve">
                </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>


{% endblock %}